# Created by https://www.toptal.com/developers/gitignore/api/go
# Edit at https://www.toptal.com/developers/gitignore?templates=go

### Go ###
# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work


*.log
# End of https://www.toptal.com/developers/gitignore/api/go

/.idea/dataSources/865a7182-d533-4f4a-b1b4-993bdf501871.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/dataSources/865a7182-d533-4f4a-b1b4-993bdf501871/storage_v2/_src_/database/postgres.edMnLQ/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/865a7182-d533-4f4a-b1b4-993bdf501871/storage_v2/_src_/database/postgres.edMnLQ/schema/pg_catalog.0S1ZNQ.meta
/.idea/dataSources/865a7182-d533-4f4a-b1b4-993bdf501871/storage_v2/_src_/database/postgres.edMnLQ.meta
/.idea/sqldialects.xml
